@import "reset.css";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html,
body {
  background-color: #ffffff;
  height: 100vh;
  overflow: hidden;
  font-family: "Noto Sans KR", sans-serif;
  /* box-sizing: border-box; */
}

input {
  outline: none;
}

#login-page .main-container {
  background-color: #73d1e6;
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login-page .main-logo {
  text-align: center;
}

#login-page .main-logo img {
  width: 43%;
  margin-bottom: 54px;
}

#login-page .main-container h1 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
}

#login-page form {
  margin-top: 80px;
  margin-bottom: 8px;
}

#login-page form .input-wrapper {
  margin-bottom: 62px;
}

#login-page form .input-column {
  margin: 0 24px;
  padding-bottom: 8px;
  border-bottom: solid 1px #ececec;
  display: flex;
}

#login-page form .input-column.email-column {
  margin-bottom: 32px;
}

#login-page form label {
  font-size: 16px;
  line-height: 1.5;
  color: #999999;
  padding-left: 12px;
  display: block;
  width: 30%;
}

#login-page form input {
  border: none;
  font-size: 16px;
  line-height: 1.5;
}

#login-page form button {
  width: 214px;
  height: 44px;
  border-radius: 12px;
  background-color: #73d1e6;
  border: none;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  color: #ffffff;
}

#login-page .btn-column {
  text-align: center;
}

#login-page .btn {
  font-size: 14px;
  line-height: 1.43;
  color: #333333;
  margin: 0 20px;
}

nav {
  display: flex;
  align-items: center;
  padding: 20px 24px;
}

nav .side {
  width: 20%;
}

nav .center {
  width: 60%;
  text-align: center;
}

nav .center img {
  width: 44%;
}

.menu-icon div {
  width: 24px;
  height: 4px;
  border-radius: 10px;
  background-color: #73d1e6;
}

.menu-icon div:nth-child(2) {
  margin: 4px 0;
}

.menu_bg {
  width: 100%;
  height: 2000px;
  position: fixed;
  top: 0px;
  left: 0px;
  overflow: hidden;
  display: none;
  z-index: 999;
}

.menu {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding: 20px 24px 0 24px;
}

.menu .cancel-icon {
  width: 96%;
  text-align: left;
}

.menu .cancel-icon img {
  width: 20px;
}

.menu-container {
  margin-top: 88px;
}

.menu-column {
  line-height: 1.5;
  color: #333333;
  margin-bottom: 32px;
}

.munu-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.munu-wrapper img {
  width: 16px;
}

.menu-strong {
  font-size: 18px;
  font-weight: bold;
  margin-right: 4px;
}

.menu-title {
  font-size: 16px;
  font-weight: 500;
}

.main-content {
  height: 100%;
  background-image: url("../images/intro_bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#home .home-content {
  height: 100%;
}

#home footer,
#mood footer,
#junior footer {
  background-color: #73d1e6;
}

.mind-content {
  height: 100%;
  background-image: url("../images/mind_bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.junior-content {
  height: 100%;
  background-image: url("../images/junior_bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.menu_2 {
  padding-left: 16px;
}

.menu_2 a {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #333333;
}

.menu_2 li {
  margin-top: 8px;
}

#junior .content {
  height: 100%;
  display: grid;
  padding-left: 24px;
  padding-right: 24px;
}

.content {
  display: flex;
  align-items: center;
  height: 100vh;
  padding-bottom: 145px;
}

#mind-9 .content .btn {
  width: auto;
}

.content .btn {
  height: 28px;
  width: 10%;
}

.content .btn.right {
  text-align: right;
  padding-right: 8px;
}

.content .btn.left {
  padding-left: 8px;
}

.content img {
  height: 28px;
}

.intro-desc {
  width: 80%;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  color: #333333;
  word-break: keep-all;
  padding: 0 16px;
}

.mind-select-container {
  height: 100%;
  display: grid;
}

.mood-check-intro .mind-desc {
  margin-top: 40px;
  margin-bottom: 32px;
}

.mood-test-container {
  width: 100%;
  height: 100%;
  display: grid;
}

.mood-test-container a {
  align-self: center;
}

.mind-select-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  color: #73d1e6;
  align-self: center;
}

.mind-select-title.center {
  text-align: center;
}

.mind-select-title.small {
  font-size: 14px;
  line-height: 1.43;
}

.day-standard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.43;
  text-align: center;
}

.mode-write {
  height: 160px;
  border: solid 2px rgb(115, 209, 230, 0.5);
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 10px;
  margin-bottom: 80px;
}

.mode-write h1 {
  margin-top: 8px;
}

input[id="cb"]+label {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: solid 2px #73d1e6;
  background-color: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 6px;
  margin-right: 8px;
}

input[id="cb"]:checked+label {
  padding: 0px;
}

.cb-checked {
  background-color: #73d1e6;
  width: 8px;
  height: 8px;
  margin: 2px;
}

input[id="cb"] {
  display: none;
}

.wrapper-label {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

#select-desc {
  padding: 0 8px;
}

#select-desc label {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.47;
  color: #333333;
  text-align: left;
}

.mind-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mind-2 .mind-desc {
  margin-bottom: 100px;
}

#mind-3 .mind-desc,
#mind-11 .mind-desc {
  padding: 0;
}

#mind-5 .mind-desc {
  margin-bottom: 50px;
}

#mind-7 .mind-desc,
#mind-8 .mind-desc {
  margin-bottom: 32px;
}

#mood .mind-desc {
  text-align: left;
}

.mind-desc {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  color: #333333;
  word-break: keep-all;
  padding: 0 16px;
}

.mind-desc .stop-bold {
  font-weight: bold !important;
}

.mind-desc input {
  width: 12%;
  height: 40px;
  background-color: rgb(255, 255, 255, 0.5);
  border: solid 2px #cccccc;
  margin: 0 8px;
  box-sizing: border-box;
  text-align: center;
}

.mood-bar {
  background-color: #ececec;
  height: 28px;
  margin: 0 24px;
}

.mood-bar-name {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
  padding: 0 8px;
}

.mood-bar-name span {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #333333;
}

.mood-bubble {
  width: 270px;
  height: 158px;
  box-shadow: 0 3px 6px 0 rgba(125, 199, 216, 0.4);
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mood-bubble.soso,
.mood-bubble.smile {
  border-bottom-left-radius: 62px;
  border-bottom-right-radius: 62px;
  border-top-right-radius: 62px;
}

.mood-bubble.tired {
  border-bottom-left-radius: 62px;
  border-bottom-right-radius: 62px;
  border-top-left-radius: 62px;
}

.mood-bubble.soso {
  background-color: #efd56e;
}

.mood-bubble.smile {
  background-color: #22cc71;
}

.mood-bubble.tired {
  background-color: #ff987e;
}

.mood-bubble .mood-state {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  color: #ffffff;
}

.face-icon {
  width: 62px;
  height: 62px !important;
}

.smile .face-icon,
.soso .face-icon {
  margin-right: 40px;
}

.tired .face-icon {
  margin-left: 40px;
}

.show-graph {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  color: #73d1e6;
  text-align: right;
}

.show-graph-icon {
  width: 14px;
  height: 14px !important;
}

.trust-icon {
  margin: 32px 0;
}

.trust-icon img {
  width: 80px;
  height: 92px;
}

.input-desc {
  margin-top: 82px;
  margin-bottom: 58px;
}

#mind-11 .mind-desc input {
  margin: 8px 0;
}

.mood-test-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.mood-test-title {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
}

.mood-test-title.small {
  font-size: 14px;
  line-height: 1.43;
}

.mood-test-num-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
}

.mood-test-num {
  width: 32px;
  height: 32px;
  background-color: #ececec;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.43;
  color: #999999;
}

.mood-test-num.select {
  background-color: #73d1e6 !important;
  color: #ffffff !important;
}

.mind-btn-wrapper {
  display: grid;
  grid-gap: 16px;
  margin-top: 24px;
}

.mind-btn {
  width: 272px;
  height: 66px;
  border-radius: 34px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.mind-btn .chat-icon {
  width: 46px;
}

.mind-btn:nth-child(2) .chat-icon {
  margin-right: 10px;
}

.mind-btn:nth-child(3) .chat-icon {
  margin-right: 24px;
}

.mind-btn span {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.43;
  color: #333333;
}

.listen-btn,
#blue-close {
  width: 102px;
  height: 44px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #73d1e6;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  margin: auto;
}

#year {
  width: 16%;
}

#day {
  margin-bottom: 10px;
}

#name {
  width: 100px;
}

#tel {
  width: 212px;
}

.balloon {
  width: 270px;
  box-shadow: 0 15px 18px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  border-bottom-right-radius: 70px;
  padding: 45px 43px;
  text-align: center;
  margin: auto;
}

.balloon span {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #333333;
}

.content .intro-desc .strong {
  font-size: 18px;
  font-weight: 900;
  line-height: 1.5;
  text-align: center;
  color: #333333;
  margin-top: 40px;
  margin-bottom: 78px;
}

.content .intro-desc .start-btn {
  width: 102px;
  height: 44px;
  box-shadow: 0 3px 6px 0 rgba(125, 199, 216, 0.4);
  background-color: #73d1e6;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  float: right;
}

.write-and-camera {
  margin-top: 16px;
}

.write-column {
  position: relative;
}

textarea,
.mind-camera-container {
  width: 100%;
  height: 160px;
  border: solid 2px #cccccc;
  background-color: rgb(255, 255, 255, 0.5);
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  outline: none;
  /* position: relative; */
}

#mind-3 textarea,
#mind-3 .mind-camera-container {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 16px !important;
}

/* .content .mind-write-container {
  width: 100%;
  height: 160px;
  border: solid 2px #cccccc;
  background-color: rgb(255, 255, 255, 0.5);
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

.content .mind-write-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content .mind-write-container .write-icon {
  margin-bottom: 8px;
}

.content .mind-write-container h1 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #333333;
}

footer {
  background-color: #ffffff;
  width: 100%;
  height: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
  position: fixed;
  bottom: 0;
  z-index: 888;
}

footer div {
  align-self: center;
  justify-self: center;
}

footer img {
  height: 28px;
}

.modify-background {
  z-index: 999 !important;
}

#modify-name {
  width: 100%;
  bottom: 0;
  height: 90%;
  top: unset;
  left: unset;
  transform: unset;
  justify-content: start;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

#modify-name input {
  width: 100%;
  padding: 8px 0;
  margin-top: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  outline: none;
  border: none;
  border-bottom: solid 2px #707070;
}

.modify-name-title {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.modify-name-title .side-btn {
  width: 10% !important;
  height: auto !important;
  border-radius: unset !important;
  background-color: unset !important;
  justify-content: start !important;
}

.side-btn.close img {
  width: 20px;
}

.confirm-btn {
  width: 10% !important;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: right;
  color: #999999;
}

.modal-background {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.5);
  z-index: 2;
}

#mind-7 .modal-background .modal-content {
  width: 90%;
}

.modal-background .modal-content {
  overflow: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  border: solid 1px #cecece;
  background-color: #ffffff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border-radius: 24px;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-content .sound-icon img {
  width: 28px;
}

.modal-content .modal-desc {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  color: #333333;
  margin-top: 16px;
  margin-bottom: 24px;
  word-break: keep-all;
}

.modal-content .mind-modal-desc {
  margin-top: 32px;
  margin-bottom: 32px;
}

.modal-content .modal-next {
  width: 102px;
  height: 44px;
  border-radius: 22px;
  background-color: #73d1e6;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content .wrist-bg {
  height: 226px;
}

.modal-content .wrist-write {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.modal-content .wrist-write img {
  width: 22px;
}

.modal-content .wrist-write span {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  color: #333333;
}

.modal-btn-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.modal-content .close,
.modal-content .call-btn {
  width: 102px;
  height: 44px;
  border-radius: 22px;
  background-color: #cccccc;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content .call-btn {
  background-color: #22cc71 !important;
}

.modal-content .call-btn img {
  width: 16px;
  margin-right: 8px;
}

.junior-intro-bubble {
  height: 139px;
  width: 100%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  border-bottom-left-radius: 70px;
  border-top-right-radius: 70px;
  border-top-left-radius: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: end;
}

.junior-bubble-text {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.38;
}

.junior-intro-bubble.avatar {
  width: 65%;
}

.junior-bubble-text .gray-text {
  font-size: 18px;
  color: #999999;
}

.cheer-btn {
  width: 102px;
  height: 36px;
  border-radius: 21px;
  background-color: #ffa7a7;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.junior-intro-desc {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  width: 85%;
  margin: auto;
}

.junior-intro-desc.avatar {
  width: auto;
  text-align: right;
  margin: 0;
}

.junior-intro-desc.avatar img {
  height: 300px;
}

#junior .content a {
  margin: 0 auto !important;
  align-self: start !important;
}

.avatar-name-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-self: self-start;
}

.avatar-name-wrapper img {
  width: 18px;
  height: 18px;
}

.avatar-name {
  width: 102px;
  height: 32px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #cccccc;
  background-color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  color: #333333;
  margin-right: 10px;
}

.cheer-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  color: #333333;
}

.cheer-btn-wrapper {
  display: grid;
  grid-gap: 8px;
  margin-top: 16px;
}

.cheer-list {
  width: 214px;
  height: 44px;
  border-radius: 22px;
}

.cheer-btn.close {
  background-color: #cccccc;
  width: 214px;
  height: 44px;
  border-radius: 22px;
}

/* 사진찍기와 불러오기 css 부분 */

.wrist-bg {
  position: relative;
}

.take-photo {
  position: absolute;
  left: 100px;
  top: 50px;
}

.import-photo {
  position: absolute;
  left: 100px;
  top: 100px;
}